// Colores
$color-uno: #f37237;
$color-dos: #fff;
$color-tres: #535353;
$color-cuatro: rgb(221, 199, 199);
$color-cinco: #fdb77e;
$color-seis: #e0dede;
$color-siete:#767676;
$color-ocho: #4CAF50;
$color-nueve: #1a1a1a;
$color-diez: #696969;
$color-once: #c7e5ec;
